<html>
    <head>
        <title>Cherno blog?</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Cherno hate django.....</a></h1>
        </div>

        <div>
            <h2><a href="">My fails are my inspiration </a></h2>
            <p>To satisfy the fixation </p>
            <p>published: never</p>
        </div>

        <div>
            <h2><a href="">Live it everyday </a></h2>
            <p>or not?</p>
            <p>published: never</p>
        </div>
    </body>
</html>